# Ignore .env files
#dev
# .env
# .env.*
#prod
base/secrets/laravel-secrets.yaml
kubeseal
*.tar.gz
# Kubernetes secrets
# *-secret.yaml
# *-secrets.yaml
# secret*.yaml
base/mysql/mysql-secret.yaml
base/laravel/laravel-env.yaml